// Navbar themes
//
// Styles for switching between navbars with light or dark background.

// Dark links against a light background
.navbar-light {
  .navbar-brand {
    color: red;

    @include hover-focus {
      color: blue;
    }
  }

  .navbar-nav {
    .nav-link {
      color: yellow;

      @include hover-focus {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: blueviolet;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: blueviolet;
    }
  }

  .navbar-toggler {
    color: $navbar-light-color;
    border-color: green;
  }

  .navbar-toggler-icon {
    background-image: blue;
  }

  .navbar-text {
    color: brown;
    a {
      color: $navbar-light-active-color;

      @include hover-focus {
        color: blue;
      }
    }
  }
}
