// ---------------------------------------------------------
// This file containes all application-wide Sass variables.
// ---------------------------------------------------------

// Color system
$gray-555: rgb(59, 58, 58) 555;
// FONTS
$font-family-sans-serif: "Roboto", sans-serif;
// PATHS
$base-url: "/assets/" !default;
// ENABLE BOOTSTRAP GRADIENTS
$enable-gradients: true;
// Jumbotron
$jumbotron-bg: gray !default;
