body,
html {
  background-color: rgb(252, 249, 216);
}
a {
  color: black;
  font-size: large;
  text-shadow: 0 0 5px white;
}
a:hover {
  color:magenta;
}
p {
  padding-left: 20px;
}
h2 {
  padding-left: 30px;
}

/*--navbar--*/
.navbar {
  background-color: white;
  color: white;
}
.logo{height: auto;
  width: auto;}

.navbar2{
  background-image: linear-gradient(to right, rgb(185, 13, 185), rgb(253, 186, 42));
}

.navbar-light .navbar-nav .nav-link {
  text-shadow: 0 0 5px white;
  box-shadow: 1px 1px grey;
  color: black;
  border-radius: 3px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: cyan;
}

/*--jumbotron--*/
.jumbotron {
  padding: 8rem 1rem;
  margin-bottom: 0rem;
  border-radius: 0rem;
  color: white;
  text-shadow: 0 0 5px black;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--footer--*/
.modal-footer {
  background-color: rgb(4, 26, 27);
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
  padding: 30px;
  color: white;
}
.linkedin{
  padding-left: 10px;
}
.facebook{
  padding-left: 10px;
}
.twitter{
  padding-left: 10px;
}
.pinterest{
  padding-left: 10px;
}
.skype{
  padding-left: 10px;
}

/*---box--*/
.column {
  float: left;
  width: 33%;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: black;
  text-shadow: 0 0 3px white;
}

.containerTab {
  padding: 20px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/*--blog--*/
.blog{
  padding-left: 30px;
}



